@using Services;

<MudDialog Style="width: 720px; height: 700px;">
    <DialogContent>
        @if (model is not null)
        {
            <MudText>
                <span class="mud-typography-h5">@model.ClockIn.Name</span>
                <span style="color: var(--mud-palette-text-secondary);">@counterText</span>
            </MudText>

            <MudTable Height="480px" Items="model.Records" RowsPerPage="20" Hover="true" FixedHeader="true" Breakpoint="Breakpoint.Sm">
                <ColGroup>
                    <col style="width: 90px;" />
                    <col />
                    <col style="width: 120px;" />
                </ColGroup>
                <HeaderContent>
                    <MudTh>@LD.Count</MudTh>
                    <MudTh>@LD.ClockInTime</MudTh>
                    <MudTh Style="text-align: right;">@LD.ApartDays</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Counter">@context.Counter</MudTd>
                    <MudTd DataLabel="Time">@context.Time.ToString("yyyy-MM-dd HH:mm:ss")</MudTd>
                    <MudTd DataLabel="DaysApart" Style="text-align: right;">@model.GetDaysApart(context.Counter)</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager HideRowsPerPage="true" />
                </PagerContent>
            </MudTable>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@LD.Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public int Id { get; set; }

    private ClockInModel? model;
    private string counterText = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        model = ClockInService.GetClockInModel(Id);

        counterText = string.Format(LD.ClockInCounter, model.Records.Count);
    }

    void Cancel() => MudDialog.Cancel();
}
